@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:wght@500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    font-family: 'Poppins',sans-serif;
}
li {
  display: inline-block;
  margin: 10px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

li:hover {
  transform: scale(1.1);
}
@import "tailwindcss";
.login-container {
  max-width: 400px;
  margin: 0px auto;
  background: #fff;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.login-container h2 {
  text-align: center;
  font-weight: 700;
  margin-bottom: 20px;
  color: #333;
}

.login-container label {
  display: block;
  margin-top: 15px;
  font-weight: 600;
}

.login-container input[type="text"],
.login-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.login-container button {
  margin-top: 25px;
  width: 100%;
  padding: 10px;
  background-color: #004080;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #003060;
}

.forgot-password {
  text-align: right;
  margin-top: 10px;
}

.forgot-password a {
  color: #004080;
  text-decoration: none;
  font-size: 14px;
}
.gradient-custom {
/* fallback for old browsers */
background: #d3ced8;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, rgb(45, 45, 46), rgba(37, 117, 252, 1));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}
